*{
    margin: 0;
    padding: 0; 
}

body,
html{
   height: 100%;
}

header {
    position: sticky;
    left: 0;
    top: 0;
}

#naveg{
    background-color: black;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    font-size: 17px;
}
li {
    padding: 16px;
    font-size: 20px;
}
a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 110px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
}
.logo {
    flex: 1;
    text-align: right;
    margin-top: -150px;
}
.logo img {
    width: 320px;
    height: auto;
}
.content {
    flex: 2;
    padding: 0 20px;
}
.content h1 {
    font-size: 24px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: -150px;
}
.content p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
}
#botao{
    padding: 17px;
    padding-left: 12px;
    padding-right: 12px;
    border: 2px solid black;
    color: black;
    border-radius: 25px;
    margin-left: 50%;
}
#mudanca{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    padding-top: 7px;
    margin-left: 42%;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}